In [1]:
t = (1,2,3)

In [2]:
t[0]

1

In [3]:
from collections import namedtuple

In [4]:
Dog = namedtuple('Dog','age breed name')

In [5]:
sam = Dog(age = 2, breed='Lab',name='sammy')

In [6]:
sam

Dog(age=2, breed='Lab', name='sammy')

In [7]:
sam.age

2

In [14]:
sam.index(2)

0

In [17]:
sam.count(2)

1

In [18]:
Cat  = namedtuple('Cat','fur claws name')

In [19]:
c = Cat(fur = 'Fuzzy',claws=False,name = 'Kitty')

In [20]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')

In [21]:
c[2]

'Kitty'